In [1]:
# ORiginal_movie_success_prediction

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('G:\\dataSet\\movie_success_rate.csv')

In [5]:
df.head(3)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,...,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western,Success
0,1.0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014.0,121.0,8.1,757074.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,2.0,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012.0,124.0,7.0,485820.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,3.0,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016.0,117.0,7.3,157606.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [6]:
df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore', 'Action', 'Adventure', 'Aniimation', 'Biography', 'Comedy',
       'Crime', 'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music',
       'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Sport', 'Thriller', 'War',
       'Western', 'Success'],
      dtype='object')

In [11]:
df['Director'].value_counts()

Ridley Scott          8
Paul W.S. Anderson    6
David Yates           6
Michael Bay           6
Antoine Fuqua         5
                     ..
Kyle Balda            1
Chris Renaud          1
Peter Billingsley     1
Lee Toland Krieger    1
Nima Nourizadeh       1
Name: Director, Length: 524, dtype: int64

In [13]:
df['Genre'].value_counts()

Action,Adventure,Sci-Fi    50
Comedy,Drama,Romance       30
Drama                      29
Drama,Romance              27
Comedy                     26
                           ..
Adventure,Drama,History     1
Action,Crime,Fantasy        1
Comedy,Mystery              1
Adventure,Comedy,Horror     1
Comedy,Family,Fantasy       1
Name: Genre, Length: 189, dtype: int64

In [16]:
df['Actors'].value_counts()

Jennifer Lawrence, Josh Hutcherson, Liam Hemsworth, Woody Harrelson    2
Daniel Radcliffe, Emma Watson, Rupert Grint, Michael Gambon            2
Shia LaBeouf, Megan Fox, Josh Duhamel, Tyrese Gibson                   2
Gerard Butler, Aaron Eckhart, Morgan Freeman,Angela Bassett            2
Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Saldana                   1
                                                                      ..
Chris Evans, Jamie Bell, Tilda Swinton, Ed Harris                      1
Chloë Grace Moretz, Matthew Zuk, Gabriela Lopez,Bailey Anne Borders    1
Olivia DeJonge, Ed Oxenbould, Deanna Dunagan, Peter McRobbie           1
Vin Diesel, Paul Walker, Dwayne Johnson, Jordana Brewster              1
Kevin Spacey, Jennifer Garner, Robbie Amell,Cheryl Hines               1
Name: Actors, Length: 834, dtype: int64

In [18]:
df['Metascore'].unique()

array([ 76.,  65.,  62.,  59.,  40.,  42.,  93.,  78.,  41.,  66.,  74.,
        81.,  70.,  61.,  71.,  58.,  69.,  49.,  96.,  56.,  32.,  60.,
        36.,  39.,  67.,  52.,  75.,  72.,  54.,  99.,  57.,  45.,  64.,
        68.,  23.,  18.,  82.,  79.,  51.,  44.,  48.,  46.,  90.,  50.,
        53.,  83.,  77.,  85.,  55.,  80.,  88.,  87.,  91.,  63.,  86.,
        84.,  29.,  47.,  73.,  33.,  43.,  25.,  98.,  35.,  31.,  94.,
        38.,  34.,  26.,  92.,  95.,  30.,  27.,  19.,  28.,  89.,  22.,
        37., 100.,  15.,  24.,  11.,  nan])

In [24]:
df['Success'].value_counts()

0.0    689
1.0    149
Name: Success, dtype: int64

In [22]:
df.shape

(839, 33)

In [25]:
data=df.dropna(axis=0, how='any')

In [26]:
data.shape

(838, 33)

In [39]:
data.corr()['Success']

Rank                 -0.258103
Year                 -0.164954
Runtime (Minutes)     0.303122
Rating                0.421126
Votes                 0.665489
Revenue (Millions)    0.617006
Metascore             0.304562
Action                0.164196
Adventure             0.251548
Aniimation            0.138435
Biography             0.024017
Comedy               -0.084936
Crime                 0.013942
Drama                -0.152930
Family               -0.007180
Fantasy               0.036360
History              -0.026511
Horror               -0.127583
Music                -0.031819
Musical               0.004498
Mystery              -0.023564
Romance              -0.136652
Sci-Fi                0.111986
Sport                -0.039242
Thriller              0.021975
War                   0.035122
Western               0.058359
Success               1.000000
Name: Success, dtype: float64

In [47]:
X = data[data.columns[6:32]]
Y=data.iloc[:,-1]

In [48]:
X.head()

,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Action,Adventure,Aniimation,Biography,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,2014.0,121.0,8.1,757074.0,333.13,76.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,2012.0,124.0,7.0,485820.0,126.46,65.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2016.0,117.0,7.3,157606.0,138.12,62.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,2016.0,108.0,7.2,60545.0,270.32,59.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2016.0,123.0,6.2,393727.0,325.02,40.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
x = X.drop(columns=['Year','Rating','Votes','Metascore','Revenue (Millions)'])

In [54]:
X.columns

Index(['Year', 'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore', 'Action', 'Adventure', 'Aniimation', 'Biography', 'Comedy',
       'Crime', 'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music',
       'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Sport', 'Thriller', 'War',
       'Western'],
      dtype='object')

In [61]:
x.columns

Index(['Runtime (Minutes)', 'Action', 'Adventure', 'Aniimation', 'Biography',
       'Comedy', 'Crime', 'Drama', 'Family', 'Fantasy', 'History', 'Horror',
       'Music', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Sport', 'Thriller',
       'War', 'Western'],
      dtype='object')

In [55]:
Y.head()

0    1.0
1    1.0
2    0.0
3    0.0
4    0.0
Name: Success, dtype: float64

In [56]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
X_train,X_test,Y_train,Y_test=train_test_split(x,Y,test_size=0.25,random_state=0)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [57]:

randomforest_model = RandomForestClassifier(n_estimators=60)
randomforest_model.fit(X_train, Y_train)
y_pred_rf = randomforest_model.predict(X_test)

In [58]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [59]:
#Model Evaluation for Random Forest
conf_mat_rf = confusion_matrix(Y_test,y_pred_rf)
acc_rf = accuracy_score(Y_test, y_pred_rf)
precision_rf = precision_score(Y_test,y_pred_rf)
recall_rf = recall_score(Y_test,y_pred_rf)

In [60]:
print('Confusion Matrix for Random Forest is :')
print(conf_mat_rf)
print('\nAccuracy for Random Forest is :')
print(acc_rf)
print('\nPrecision is :')
print(precision_rf)
print('\nRecall is: ')
print(recall_rf)

Confusion Matrix for Random Forest is :
[[159  14]
 [ 19  18]]

Accuracy for Random Forest is :
0.8428571428571429

Precision is :
0.5625

Recall is:
0.4864864864864865